<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>掲示板</title>
</head>
<body>
    <main class="container">
        <div class="container">
            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-warning" role="alert">{{ message }}</div>
            {% endfor %}
            {% endif %}
            
            <h2>掲示板</h2>
            <form method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <label for="name">カテゴリ：</label>
                    <select name="category">

                        {% for category in categories %}
                        <option value="{{ category.id }}">{{ category.name }}</option>
                        {% endfor %}

                    </select>
                </div>
                <div class="form-group">
                    <label for="name">お名前：</label>
                    <input type="text" class="form-control" name="name">
                </div>
                <div class="form-group">
                    <label for="comment">コメント：</label>
                    <textarea class="form-control" name="comment"></textarea>
                </div>
                <button class="btn btn-primary" type="submit">送信</button>
            </form>
            <div class="container">
                <h4 class="my-2">コメント一覧</h4>

                {% for topic in topics %}
                <div class="card mb-1">
                    <div class="card-header">{{ topic.category.name }}</div>
                    <div class="card-body">
                        <p class="card-text">{{ topic.comment }}     【投稿者】{{ topic.name }}【投稿日時】{{ topic.created_at }}</p>
                        コメント数（{{ topic.reply_amount }}）<a class="btn btn-primary" href="{% url 'bbs:reply' topic.id %}">返信</a>
                    </div>
                </div>
                {% endfor %}

            </div>
            <a href="{% url 'bbs:contacts' %}">お問い合わせ</a>
        </div>
    </main>
</body>
</html>